<script lang="ts" setup>
import { mdiSchoolOutline, mdiChevronUp, mdiChevronDown } from "@mdi/js";
</script>

<script lang="ts">
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<template>
  <br />
  <v-card class="mx-auto" max-width="800">
    <v-img src="https://www.i-pic.info/i/Upez315279.jpg" height="205px"></v-img>
    <v-card-title> Name: Waritphat Kheereerat </v-card-title>
    <v-card-subtitle>
      My interests: Music, Programing, Games, Traveling</v-card-subtitle
    >
    <v-card-action>
      <br />
      <v-btn
        color="orange-lighten-2"
        variant="text"
        :prepend-icon="mdiSchoolOutline"
      >
        Education
      </v-btn>
      <v-btn
        :icon="show ? mdiChevronUp : mdiChevronDown"
        @click="show = !show"
      ></v-btn>
    </v-card-action>
    <v-expand-transition>
      <div v-show="show">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>Knowledge</v-col>
              <v-col>School</v-col>
              <v-col>Duration</v-col>
            </v-row>
            <br />
            <v-divider></v-divider>
            <br />
            <v-row>
              <v-col>Kindergarten</v-col>
              <v-col>Pattanavech</v-col>
              <v-col>2005 - 2007</v-col>
            </v-row>
            <v-row>
              <v-col>Elementary School</v-col>
              <v-col>Pattanavech</v-col>
              <v-col>2008 - 2013</v-col>
            </v-row>
            <v-row>
              <v-col>High School</v-col>
              <v-col>Banchangkarnchanakulwittaya</v-col>
              <v-col>2014 - 2019</v-col>
            </v-row>
            <v-row>
              <v-col>Bachelor Degrees</v-col>
              <v-col>Burapha University</v-col>
              <v-col>2020 ~</v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>
